div.question{
	text-align: center;
	color:red;

}
div.question:hover+.answer{
	display:visible;
}
div.answer{
	
	text-align: center;
}

div.memberstitle{
	margin:5%;
	padding-bottom: 5%;
}
div.memberstitle h2{
	font-size: 4em;
	font-weight: 100;	
	letter-spacing: 1px;
	text-transform: uppercase;

}
div.memberstitle p{
	font-size:2em;
	color:red;
	float:right;
	font-weight: 4;	
	letter-spacing: 1px;
	text-transform: uppercase;

}

div.memberscontent{
	margin-left:5%;
	margin-right:5%;
	padding-bottom:0%;

}
div.memberscontent h4{
	font-weight: 100;	
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;

}
div.memberscontent p{
	color:grey;
	text-indent: 10%;
	font-weight: 3;	
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-right:10%;
	background-color: rgba(77,77,77,.1);

}


div.faqcontent{
	margin-left:5%;
	margin-right:5%;

}
div.faqcontent h2{
	color:red;
	font-weight: 100;	
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;

}
div.faqcontent p{
	color:grey;
	text-indent: 10%;
	font-weight: 3;	
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-right:10%;
	background-color: rgba(77,77,77,.1);

}


div.alums p{
	color:white;
	text-align: center;
}
div.alums h2{
	color:red;
}
div.alums img{
	float:left;
}


div.maintitle{
	margin:5%;
	padding-bottom: 5%;
}
div.maintitle h2{
	font-size: 4em;
	font-weight: 100;	
	letter-spacing: 1px;
	text-transform: uppercase;

}
div.maintitle p{
	font-size:1em;
	color:red;
	float:right;
	font-weight: 4;	
	letter-spacing: 1px;
	text-transform: uppercase;

}


div.maincontent{
	margin:5%;
}
div.maincontent h2{
	
	font-weight: 100;	
	letter-spacing: 1px;
	text-transform: uppercase;

}
div.maincontent p{
	padding:5%;

	font-weight: 3;	
	letter-spacing: 1px;
	text-transform: uppercase;

}
div.mainleftcontent{
	position:relative;
	margin:5%;
	border-radius: 10%;
	color:white ;
	margin-right: 25%;
	margin-left:25%;
}
div.mainleftcontent p{
	padding-bottom:10%;
}
div.mainrightcontent{
	position:relative;
	margin:5%;
	border-radius: 10%;
	color:white ;
}
div.mainrightcontent img{
	width:100%;
	height:auto;
}
div.mainrightcontent p{
	float:right;
}

.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.my-show-hide-animation.ng-hide {
  opacity:0;
}



.my-show-hide-animation.ng-hide-remove,
.my-show-hide-animation.ng-hide-add {
  /* remember, the .hg-hide class is added to element
     when the active class is added causing it to appear
     as hidden. Therefore set the styling to display=block
     so that the hide animation is visible */
  display:block!important;
}

.my-show-hide-animation.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}

@keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes hide {
  from { opacity:1; }
  to { opacity:0; }
}

.my-show-hide-animation.ng-hide-remove {
  -webkit-animation:0.5s show;
  animation:0.5s show;
}

@keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}

@-webkit-keyframes show {
  from { opacity:0; }
  to { opacity:1; }
}










.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
 
  display:block;
  width:100%;
  border-left:1px solid black;
 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
} 
 
.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}








td#firstphoto{
	position:absolute;
	left:5%;
	top:5%;
}





div.drape{

}
div.pagewrap{
	margin:5% 5% 5% 5%;
	position:relative;
	overflow:hidden;

}
div.carothumb{
	max-height:150;
	max-width:150;
	overflow:hidden;

}
div.pagegallery{
	background:rgba(0,0,0,.5);
	border-radius: 5px;

}
#halfwrap{
	overflow: hidden;
	top:0;
 
	background-color:rgba(191,0,255,.6);
	left:0;
	right:0;
	max-height:30%;

}

#qtwrap{
	width:100%;
	bottom:30%;
	right:30%;
	
	height:50%;
	overflow:hidden;
	background-color:rgba(8,214,207,.6);
}

#missionwell{
	margin-bottom:0;
	min-height: 370px;
	width:100%;
	bottom:0;

}

/*custum container without gutter margins */
div.cldc-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 30px;
  margin-right: 30px;

  position:relative;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

header.cldc-container{
/*	box-shadow: 5px 5px 2px #888888;
*/}
ul.header{
	padding-left: 20%;
}

.headrow{
	max-height:250px;
}



/*#main{
background-image:url("/media/webserver.jpg");
background-size: cover;
}*/

.img-responsive{
	
	max-width:100%;
	height:auto;
}
#locationblurb{
	background-color:rgba(222,222,222,.8);
	float:left;
}

#bottomrightcolumn{
	float:right;
	display:block;
	width:auto;
	border: 0;
	padding: 0;
	margin:0;
}
#downingpic{
	box-shadow: 10px,10px,10px,#ffffff;
}
.dim{
		background-color:rgba(222,222,222,.8);
}
.shadow{
	-moz-box-shadow:    3px 3px 5px 6px #000;
  -webkit-box-shadow: 3px 3px 5px 6px #000;
  box-shadow:         3px 3px 5px 6px #000;
}
div.teal{
	background-color:rgba(00,200,200,.5);	
}
div.teal>img{
	display:inline-block;
	border-radius:15px 0px 0px 15px;
	float:right;
}
div.white{
	background-color:rgba(255,255,255,.7);	
}
div.black{
	background-color:rgba(0,0,0,.5);	
}
div.red{
	background-color:rgba(180,4,4,.5);		
}
div.red>img{
	border-radius:0px 15px 15px 0px;
	float:left;
}

div.purp{
	background-color:rgba(60,8,88,.5);
}
li.tab{

	font: 20px/28px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.tile{
	position:relative;
	display:inline-block;
	padding:4px;
	line-height: 1.428571429;

	-webkit-transition: all .2s ease-in-out;
	text-decoration: none;
	overflow: hidden;
	min-width:8%;
	min-height: 8%;
	box-shadow: 10px,10px,10px,#ffffff;
	
}

/*=== Contact Page Styling ===*/


.sub-text-content{
	font-family: 'ProximaNova-Light', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #888888;
}


/*=== Contact Email Submission Styling === */


.inp.form-control {
	height: 55px;
}

.msg.form-control {
	height: auto;
}


#contactform button.submit-button {
	float: left;
	width: 450px;
	height: 85px;
	cursor: pointer;
	background-color: #3AA5D5;
	color: #FFF;
	border: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

















