<div style="background-image:url('media/bgmission2.jpg');
			background-size:contain;"class='mission container'>




<div id="missionpony" class="carousel slide" data-ride="carousel">
 
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#missionpony" data-slide-to="0" class="active"></li>
    <li data-target="#missionpony" data-slide-to="1"></li>
    <li data-target="#missionpony" data-slide-to="2"></li>
  </ol>
 
  <!-- Slider Content (Wrapper for slides )-->
  <div class="carousel-inner">
    <div class="item active">
      <img src="media/caro1.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>

   	<div class="item ">
      <img src="media/caro2.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>

    <div class="item ">
      <img src="media/caro3.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>


  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#missionpony" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#missionpony" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>









<div id='missionwell'class='well well-lg'>
	<img style="opacity:0;"src="http://placehold.it/1240x370">
</div>













</div>