<div class="container">
	<div class="col-md-8 col-md-offset-2">
	<div class="jumbotron text-center">
        <h1>Join CLDC!</h1>
        <p class="lead">Are you interested in learning more about technology and computers?<br>Become a member of the Computer Learning and Design Center!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Join today</a></p>
      </div>

      <h3>Benefits of Joining CLDC</h3>
      <hr class="featurette-divider">

      <div class="row marketing">
        <div class="col-md-6">
          <h4>Resources</h4>
          <p>Servers, Hardware, GPU's, Personal Computers, Updated Software, and more! CLDC has a large variety of resources.</p>

          <h4>Advice</h4>
          <p>As a CLDC member you will have access to great career advice and technical lectures from succesful alumni working in the Tech Industry.</p>

          <h4>Networking</h4>
          <p>Develop relationships with Undergrad and Graduate Students at Howard University.</p>
        </div>

        <div class="col-md-6">
          <h4>Projects</h4>
          <p>As a CLDC member you will have the freedom to join or start on any project that deeply intrests you. Projects are a great way to acquire new skills.</p>

          <h4>Updates</h4>
          <p>Access to the latest information on Tech Events, Scholarships, and Career Oppurtunities.</p>

          <h4>Activities</h4>
          <p>Ski & Snowboarding Trips! Just like other organizations, CLDC has fun activities planned throughout the school year.</p>
        </div>
        </div>

	    <h3>Visit the Next Meeting</h3>
      	<hr class="featurette-divider">
      	<p>All current operators and anyone interested in becoming an operator should be in attendance. This meeting is for the discussion of lab operations, projects, and issues. Also there will be food and drinks.</p>
      	<span class="text-muted">Where:</span><p>Purple Room (2110)</p>
      	<span class="text-muted">When:</span><p>4pm</p>
      
   	  </div>
</div> 