

<div class="container">
    <div class="row">
        <div class="col-xs-6" id="#sub-text-margin">
<!--             <h3 class="text-center">Dummy Heading</h3> -->
            <div id="contact-wrapper">
             <form class="form-horizontal" role ="form" method="post" action="/contact/index.php" id="contactform">
                   	<div class="form-group">
                        <label for="name"></label>
                        <div class="col-sm-10">
                        <input type="text" name="contactname" id="contactname" value="" class="inp form-control"  placeholder="Name" />
                        </div>
                    </div>
            
                    <div class="form-group">
                        <label for="email"></label>
                        <div class="col-sm-10">
                        <input type="text" name="email" id="email" value="" class="inp form-control"  placeholder="Email" />
                    	</div>
                    </div>
            
                    <div class="form-group">
                        <label for="subject"></label>
                        <div class="col-sm-10">
                        <input type="text" name="subject" id="subject" value="" class="inp form-control"  placeholder="Subject" />
                    	</div>
                    </div>
            
                  	<div class="form-group">
                        <label for="message"></label>
                        <div class="col-sm-10">
                        <textarea class="msg form-control" rows="10" name="message" id="message" placeholder="Hello....."></textarea>
                    	</div>
                    </div>
                    <button name="submit" type="submit" class="btn btn-default btn-lg submit-button" value="Send Message">
						<span class="glyphicon glyphicon-send"></span> Send
					</button>
              </form>
            </div>
        </div>
        <div class="col-xs-6" >
            <h2 class="text-center sub-text-margin">Get In Touch</h2>
            <p class="sub-text-content" >For more information, general questions, comments, or concerns about CLDC please contact 
			the CLDC Administrator</p>
			<h4>Computer Learning and Design Center:</h4>
				<h5>Address<h5>
				<address>
					<p class="sub-text-content">
					Lewis K. Downing Building
					<br>(School of Engineering and Computer Science) (2nd Floor)</br>
					2300 Sixth Street, NW, Washington, DC 20059</p>
				</address>
			<h4>CLDC Admin Email:<h4><p class="sub-text-content">
			<a href=​"mailto:​#">​web.cldclabs@gmail.com</a></p>
        </div>
  </div>
</div>