<!-- TODO:data from the faqcontroller is binding like a little bitch
 -->



<div style="background-image:url('/bgfaqs.jpg');
			background-size:cover;"class='faq cldc-container'>
	<div  class='pagewrap'>

		<div class='row'>

				<!-- center column -->
			<div class='col-md-8  '>
				<div class='faqcontent white'>
					<h2 style="color:black">For questions, please don't hesitate to inqiuire</h2>
					<p></p>
				</div><hr style="border: 1px dotted #ff0000;
				    border-style: none none dotted; 
				    color: #fff; 
				    background-color: #fff;">


				<div ng-repeat='question in questions'>
					<div ng-init='hide1=true' class='faqcontent white'>
						<h2 ng-click='hide1=!hide1'>"{{questions[$index].ask}}?"</h2>
						<p ng-hide='hide1'>{{questions[$index].ans}}</p>
						<br> 
					</div><!-- <hr style="border: 1px dotted #ff0000;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;"> -->
				
				</div>

				
			

			</div>

			<!-- right column -->
			<div class='col-md-4 black '>
				<div class='row mainrightcontent'>
				<div class='col-xs-6'>
					<img class='  img-responsive' src="http://placehold.it/150x150">
				

				</div>
				<div class='col-xs-6 '><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
				</div></div>
				<hr>
				<div class='row mainrightcontent'>
				<div class='col-xs-6'>
					<img class='  img-responsive' src="http://placehold.it/150x150">
				

				</div>
				<div class='col-xs-6 '><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, vel perspiciatis quam.</p>
				</div></div>
				<hr>
				<div class='row mainrightcontent'>
				<div class='col-xs-6'>
					<img class='  img-responsive' src="http://placehold.it/150x150">
				

				</div>
				<div class='col-xs-6 '><br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste voluptatem maiores quis nobis dolores?</p>
				</div></div>
			</div>

		</div>

		<!-- <div ng-repeat='question in questions'>
			
		<div  ng-init='hide1=false' class='row'>
			<div  ng-click='hide1=!hide1' class='col-md-5 question'>
				<h1>{{questions[$index].ask}}</h1>
			</div>
			<div  ng-hide='hide1' class='col-md-7 answer  well'>
				<h3>{{questions[$index].ans}}</h3>
			</div>
		</div>
		</div>
 -->

	</div>	
</div>