
<div id='bgweb'style="background-image:url('webserver.jpg');background-size:cover;background-position:0% 0%;"class='home cldc-container'>
		<div class='pagewrap'>
			

			<div style="background-image:url('media/webserver.jpg');background-size:cover;background-position:50% 50%;" class='row '>
				<!-- center column -->
			<div  class='col-md-8 col-md-push-2 white '>
				<div class='maintitle'>
					<h2>computer learning & development center</h2>
					<p>an incubator for innovation At howard university</p>
					<br> 
				</div>
				
			</div>
				<!-- left column -->
			<div class='col-md-2 col-md-pull-8 white'></div>	
				<!-- right column -->
			<div class='col-md-2 white'></div>

			</div>

			<div class='row'>





				<!-- center column -->
			<div class='col-md-8  '>
				
				<div class='maincontent white'>
					<h2>post title</h2><hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, quia placeat fugiat officia nulla quis unde nemo accusantium adipisci atque ut doloremque explicabo!</p>
					<br> 
				</div>
				
				<div class='maincontent white'>
					<h2>post title</h2><hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, voluptate, voluptatibus, ipsa soluta earum repellendus odio magni non qui error tempore ad cumque.</p>
					<br> 
				</div>

				
			
			
			</div>


				 
				<!-- right column -->
				<div class='col-md-4 black '>
					<div class='row mainrightcontent'>
					<div class='col-xs-6'>
						<img class='  img-responsive' src="http://placehold.it/150x150">
					

					</div>
					<div class='col-xs-6 '><br>
						<p>You can ng-repeat this Lorem ipsum dolor sit amet, consectetur adipisicing. </p>
					</div></div>
					<hr>
					<div class='row mainrightcontent'>
					<div class='col-xs-6'>
						<img class='  img-responsive' src="http://placehold.it/150x150">
					

					</div>
					<div class='col-xs-6 '><br>
						<p>you link something that doesnt belong on the front but you think is important</p>
					</div></div>
					<hr>
					<div class='row mainrightcontent'>
					<div class='col-xs-6'>
						<img class='  img-responsive' src="http://placehold.it/150x150">
					

					</div>
					<div class='col-xs-6 '><br>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusamus maiores labore nam eos?</p>
					</div></div>
				</div>

			</div>
		
		
		</div>
</div>




<!-- first pair
 -->
			<!-- <div ng-init="isHidden=false" class='row'style='position:relative;'>
				<div 
				class='teal row '>
					
					<img  ng-click="isHidden=!isHidden" style='float:right;'class='my-show-hide-animation img-responsive' ng-hide="isHidden"src="media/lgcldclogo1.png">

				</div>
			</div>
			<div ng-init="isHidden=false" class='row'style='position:relative;'>
				<div 
				class='red row '>
				
					<img  ng-click="isHidden=!isHidden"class='my-show-hide-animation img-responsive' ng-hide="!isHidden"src="media/lgcldclogo1.png">
				</div>
			</div> -->
<!-- second pair
 -->			
 			<!-- <div ng-init="isHidden2=true" class='row'style='position:relative;'>
				<div class='teal row '>
				
					<img  ng-click="isHidden2=!isHidden2" style='float:right;'class='my-show-hide-animation img-responsive' ng-hide="isHidden2"src="http://placehold.it/350x150">
				</div>
			</div>
			<div ng-init="isHidden2=true" class='row'style='position:relative;'>
				<div class='red row '>
				
					<img  ng-click="isHidden2=!isHidden2"class='my-show-hide-animation img-responsive' ng-hide="!isHidden2"src="http://placehold.it/350x150">
				</div>
			</div>	
&nbsp;
				<div 
				style="left:5%;top:5%;"
				class='red row'><img src="http://placehold.it/350x150">
				</div>
				<div 
				style="left:5%;top:5%;"
				class='teal row'><img src="http://placehold.it/350x150">
				</div>
				<div 
				style="left:5%;top:5%;"
				class='red row'><img src="http://placehold.it/350x150">
				</div>
				<div 
				style="left:5%;top:5%;"
				class='teal row'><img src="http://placehold.it/350x150">
				</div>
				<div 
				style="left:5%;top:5%;"
				class='teal row'><img src="http://placehold.it/350x150">
				</div>
				
			_</div>
			 -->


		
















			<!-- <div class='row header'>

				Welcome to the CLDC website
Howard University is finding the Internet an especially efficient and expeditious way to support faculty research activities and enhance student instruction. Through the Computer Learning and Design Center (CLDC), faculty members are able to communicate with collegues who may be across the country or in another country, and students become familiar with the Internet from the user side as well as the technical engineering side. Students throughout the University learn how to use Internet Navigation tools, mail servers and other applicational programs. 

Inside of CLDC, the students learn the backbone of hardware and software, such as the operation and concentrators and routers [hardware devices for networking], and get first-hand experience in managing software tools. ....see more...

Business hours

CLDC normal hours of operation are

Monday - Thursday 10am - 10pm

Friday 10am- 4pm

Beyond these hours, the lab is open at the staff's discretion. Keep in mind, however that from time to time, any of the rooms may  be reserved. If a room is reserved (whether for a class, lecture or other event), a sign will  be posted on the door. Check the calendar for the current lab reservation schedule.

Weekly Operator's Meeting

When: 4pm

Where: Purple room(2110)

All current operators and anyone interested in becoming an operator should be in attendance.This meeting is for discussion of lab operations, projects and issues.





			</div>



 -->














<!-- 
			<div class='pagegallery drape'>
				

				<div class='row'>
					<div class='col-xs-10 col-xs-offset-1'>

						<div class='carothumb '>
							
							<img class='img-responsive img-thumbnail'src="http://placehold.it/350x150/#00ccff">

						</div>

						<div class='carothumb '>
							
							<img class='img-responsive'src="http://placehold.it/350x150/#00ccff">
						</div>

						<div class='carothumb '>
							
							<img class='img-responsive'src="http://placehold.it/350x150/#00ccff">
						</div>

					</div>
				</div>

 -->





