
<div id='bgweb'style="background-image:url('media/webserver.jpg');background-size:cover;background-position:0% 0%;"class='home cldc-container'>
		<div class='pagewrap '>

			<div class=' row alums purp'>
				<div class='col-xs-6'>
				<h2>{{alum[0].name}}</h2><br>
				<p>{{alum[0].bio}}</p><br></div>
				<div class='col-xs-6'>
					<div class='row'>
						
					<img class='center-block img-responsive img-thumbnail' src="{{alum[0].imgsrc}}">
					</div>

				</div>
			</div>

			<div class=' row alums red'>
				<div class='col-xs-6 col-md-4'>
				<h2>{{alum[1].name}}</h2><br>
				<p>{{alum[1].bio}}</p><br></div>
				<div class='col-xs-6 col-md-8'>
					<div class='row'>
						
					<img class='center-block img-responsive img-thumbnail' src="{{alum[1].imgsrc}}">
					</div>

				</div>
			</div>
			
		</div>
</div>


