<div class="jumbotron text-left">
   <h1>Services</h1>
   <p>CLDC offers a wide array of reliable services for Howard Faculty, Graduate, and Undergraduate Students</p>
</div>


<div class="container">
      <div class="row">

        <!-- CLDC FEATURED SERVICES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">CLDC User Accounts</h2>
          	<p class="lead">CLDC offers free user accounts to all faculty members and validated students in the School of Engineering, Architecture and Computer Science. These accounts give users access to all available applications in CLIDE room 2104.</p>
          	<span class="text-muted">Guidlines for Choosing Passwords</span>
          	<ol>
				<li>Do not use your own name.</li>
				<li>Do not use your mother's, father's, sister's, or anybody's name.</li>
				<li>Do not make it a dictionary word.</li>
				<li>The password should be 6-8 characters.</li>
				<li>The password should include:
					<ul>
						<li>Numbers</li>
						<li>Upper and lower case combinations.</li>
					</ul>
				</li>
			</ol>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Internet Access</h2>
          <p class="lead">The CLDC lab offers its users constant access to the internet. The world wide web is just a click away for all its users.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wireless</h2>
          <p class="lead">CLDC provides a wireless internet connection service which enables users to connect to the internet using their laptops in and around the engineering library and Room 2110 (AKA, the Purple Room, or CCReV).</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" img src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Plotter Printing Services</h2>
          <p class="lead">The plotter is available for printing at the following costs:</p>
          <ul>
          	<li>Black & White, plain paper: $1/sq ft</li>
          	<li>Color, plain paper: $5/sq ft</li>
      	  	<li>Color, glossy paper: $8/sq/ft.</li>
      	  </ul>
      	  <span class="text-muted">Please see the nearest operator/administrator on duty to acquire the request form/receipt.</span>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
      	<div class="col-md-12">
      		<h2 class="featurette-heading">Applications</h2>
      		<p class="lead">Some Software Applications Avaliable in CLDC Labs are:</p>
      		<ul>
      			<li>AutoCAD 2012</li>
      			<li>MathCAD 15</li>
      			<li>Maya PLE 8.5</li>
      			<li>MS Office 2013</li>
      			<li>MS Visual Studio 2013</li>
      			<li>SAP 2000</li>
      			<li>WaterShed Modeling System(WMS) 9.1</li>
      		</ul>
      <!-- /END OF FEATURES -->
      </div>
  </div>
